@model ShopViewModel
@{
    ViewData["Title"] = "Index";
}


      <!-- Filter -->
      <div
        class="w-wrapper pt-5 mt-5 d-flex align-items-center justify-content-center"
      >
        <div class="w-filters">
          
          <form
            method="get"
            class="d-flex justify-content-center align-items-center"
          >
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="CategoryId" required>
              <option value="0">All Categories</option>
              @foreach (var item in Model.Categories)
             {
                 if(item.Id == Model.SelectedCategory){
                     <option value="@item.Id" selected>@item.Name</option>
                 }else{
                     <option value="@item.Id">@item.Name</option>
                 }
                 
             }
            </select>
            <span class="focus"></span>
          </div>
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="BrandId" required>
              <option value="0">All Brands</option>
              @foreach (var item in Model.Brands)
             {
                 if(item.Id == Model.SelectedBrand){
                     <option value=@item.Id selected>@item.Name</option>
                 }else{
                     <option value=@item.Id>@item.Name</option>
                 }
             }
            </select>
          </div>
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <!-- Filter End -->
      <div class="container text-center">
        <div class="row">
        @if (Model.Products.Count != 0)
        {
            @foreach (var item in Model.Products)
             {
                     <div class="col">
                    <a
                      asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"
                      class="card product shadow-lg"
                      style="width: 18rem"
                    >
                      <img
                        src="~/uploads/products/images/@item.Images.FirstOrDefault(p=>p.IsMain == true)?.ImagePath"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body details">
                        <p style="color: black" class="card-text text-center">
                          @item.Name
                        </p>

                        <p style="color: black" class="card-text text-center">$@item.PriceList.FirstOrDefault(p=>p.ProductId == item.Id && p.DeletedTime == null).Price</p>
                        <button asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Go To Detail</button>
                      </div>
                    </a>
                    </div>
                }

        }
        else
        {
            <h3 style="color: black" class="card-text text-center">
               Product not found       
             </h3>
        }
    </div>
      </div>
    
