@model List<Order>
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Any())
        {
               <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Orders</h4>
                  <p class="card-description">
                      Order List
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Product (Id)</th>
                          <th>Main Photo</th>
                          <th>Order Action</th>
                          <th>Created Time</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var item in Model)
                       {
                           <tr>
                              <td>@item.Id</td>
                              <td>@item.ProductPricing.Product.Name (@item.ProductPricing.ProductId)</td>
                              @if(item.ProductPricing.Product.Images.FirstOrDefault(i=>i.IsMain == true)?.ImagePath != null)
                                    {
                                        <td><img style="width:80px;height:60px" class="img-lg rounded-10" src="~/uploads/products/images/@item.ProductPricing.Product.Images.FirstOrDefault(i=>i.IsMain == true)?.ImagePath"></td>
                                    }else if (item.ProductPricing.Product.Images.FirstOrDefault(i=>i.IsMain == false)?.ImagePath != null)
                                    {
                                        <td><img style="width:80px;height:60px" class="img-lg rounded-10" src="~/uploads/products/images/@item.ProductPricing.Product.Images.FirstOrDefault(i=>i.IsMain == false)?.ImagePath"></td>
                                    }else{
                                        <td>
                                            <img style="width:50px;border-radius:0" src="~/admin-assets/svg/image-not-found.svg">
                                        </td>
                                    }
                              <td>@item.OrderAction</td>
                              <td>@item.CreatedTime</td>
                              <td>
                                        @if(User.HasAccess("admin.orders.edit")){
                                            <a type="button" class="btn btn-warning btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Orders" asp-action="Edit">Edit</a>
                                        }
                                       @if (User.HasAccess("admin.orders.delete"))
                                       {
                                         <a type="button" class="btn btn-danger btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Orders" asp-action="Delete">Delete</a>
                                                
                                       }
                                </td>
                            </tr>
                       }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              }
    else
        {
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Orders</h4>
                  <p class="card-description">
                      There Is No Order
                  </p>
                </div>
            </div>
        }
</div>

