@model SpecificationViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Specifications</h4>
                  <p class="card-description">
                      Edit @Model.Specification.Name Specification 
                  </p>
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label for="exampleInputUsername1" class="required" asp-for="Specification.Name" placeholder="Name"></label>
                      <input type="text" class="form-control" id="exampleInputUsername1" asp-for="Specification.Name" placeholder="Name">
                      <span asp-validation-for="Specification.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1" asp-for="Specification.Description" placeholder="Description">Description</label>
                      <textarea  class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Specification.Description" placeholder="Description">@Model.Specification.Name</textarea>
                        <span asp-validation-for="Specification.Description" class="text-danger"></span>
                        @if(ViewBag.Message != null){
                            <span class="text-danger">@ViewBag.Message</span>
                        }
                    </div>
                    <div class="form-group">
                    @{
                        int index = 0;
                    }
                          @foreach (var item in Model.Categories.Where(c=>c.DeletedTime == null))
                         {
                             @if(Model.SpecificationCategoryItems.Where(c=>c.CategoryId == item.Id).Any()){

                                 <input type="hidden" name="SelectedCategories[@(index)].Id"  value="@item.Id">
                             <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" name="SelectedCategories[@(index++)].Selected" checked class="form-check-input">
                                  @item.Name
                                <i class="input-helper"></i></label>
                              </div>

                             }else{
                                 <input type="hidden" name="SelectedCategories[@(index)].Id"  value="@item.Id">
                             <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" name="SelectedCategories[@(index++)].Selected"  class="form-check-input">
                                  @item.Name
                                <i class="input-helper"></i></label>
                              </div>
                             }
                             
                             
                         }
                        </div>
                    <input type="hidden"   asp-for="Specification.Id">
                    <button type="submit" class="btn btn-success me-2">Submit</button>
                    <button class="btn btn-light" asp-area="Admin" asp-controller="Specifications" asp-action="Index">Cancel</button>
                  </form>
                </div>
              </div>
            </div>

@section addjs{
 <script src="~/assets/libraries/jquery-validate/jquery.validate.min.js"></script>
 <script src="~/assets/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

