@model List<Specification>
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Any())
        {
               <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Specifications</h4>
                  <p class="card-description">
                      Specification List
                  </p>
                  @if (User.HasAccess("admin.specifications.create"))
                                      {
                                             <a type="button" class="btn btn-info btn-rounded btn-fw" asp-area="Admin" asp-controller="Specifications" asp-action="Create">Create Specification</a>

                                      }
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Created Time</th>
                          <th>Deleted Time</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var item in Model)
                       {
                           <tr>
                              <td>@item.Id</td>
                              <td>@item.Name</td>
                              <td>@item.CreatedTime</td>
                                @if (item.DeletedTime != null)
                                {
                                    <td><label class="badge badge-danger">Deleted @item.DeletedTime</label></td>
                                }else{
                                    <td><label class="badge badge-success">Active</label></td>

                                }
                              <td>
                                  @if (User.HasAccess("admin.specifications.detail"))
                                      {
                                            <a type="button" class="btn btn-success btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Specifications" asp-action="Detail">Detail</a>

                                      }
                                        
                                  
                                    @if (item.DeletedTime == null)
                                    {
                                         @if (User.HasAccess("admin.specifications.edit"))
                                      {
                                            <a type="button" class="btn btn-warning btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Specifications" asp-action="Edit">Edit</a>

                                      }
                                        
                                    }
                                  
                                    @if (item.DeletedTime == null)
                                    {
                                        @if (User.HasAccess("admin.specifications.delete"))
                                      {
                                          <a type="button" class="btn btn-danger btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Specifications" asp-action="Delete">Delete</a>

                                      }
                                        
                                    }
                                    else{
                                        @if (User.HasAccess("admin.specifications.reverse"))
                                        {
                                           <a type="button" class="btn btn-secondary btn-rounded btn-fw" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Specifications" asp-action="Reverse">Reverse</a>

                                      }
                                    }
                                </td>
                            </tr>
                       }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              }
    else
        {
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Specifications</h4>
                  <p class="card-description">
                      There Is No Specification
                  </p>
                  <a type="button" class="btn btn-info btn-rounded btn-fw" asp-area="Admin" asp-controller="Specifications" asp-action="Create">Create Specification</a>
                </div>
            </div>
        }
</div>

