@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}


      <section class="mt-5 pt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div
                class="nav nav-pills faq-nav"
                id="faq-tabs"
                role="tablist"
                aria-orientation="vertical"
              >
                <a
                  href="#tab1"
                  class="nav-link active"
                  data-toggle="pill"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="true"
                >
                  <i class="mdi mdi-help-circle"></i> Profile
                </a>
                <a
                  href="#tab2"
                  class="nav-link"
                  data-toggle="pill"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="false"
                >
                  <i class="mdi mdi-account"></i> Orders
                </a>
                <a
                  href="#tab3"
                  class="nav-link"
                  data-toggle="pill"
                  role="tab"
                  aria-controls="tab3"
                  aria-selected="false"
                >
                  <i class="mdi mdi-account-settings"></i> Comments
                </a>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="tab-content" id="faq-tab-content">
                <div
                  class="tab-pane show active"
                  id="tab1"
                  role="tabpanel"
                  aria-labelledby="tab1"
                >
                  <div class="d-flex justify-content-center align-items-center">
                      
                    <form method="post" class="container" asp-action="Profile">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"
                          >Email</span
                        >
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email"
                          aria-label="Email"
                          value="@Model.User.Email"
                          disabled
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"
                          >Username</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          aria-label="Username"
                          value="@Model.User.UserName"
                          name="Username"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"
                          >Name</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Name"
                          aria-label="Name"
                          value="@Model.User.Name"
                          name="Name"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"
                          >Surname</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Surname"
                          aria-label="Surname"
                          value="@Model.User.Surname"
                          name="Surname"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"
                          >Password</span
                        >
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          aria-label="Password"
                          name="Password"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      <span class="text-danger">@ViewBag.Error</span>
                      <div class="container">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                        <a asp-area="" asp-controller="Account" asp-action="Signout" type="submit" class="btn btn-danger">
                          Sign Out
                        </a>
                        <a class="btn btn-light" href="/forget-password.html">Change your Password</a>
                        @if(User.HasAccess("admin.dashboard.index")){
                            <a class="btn btn-warning" asp-area="Admin" asp-action="Index" asp-controller="Dashboard" >Admin Panel</a>
                        }
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="tab2"
                  role="tabpanel"
                  aria-labelledby="tab2"
                >
                  <div class="container">
                    <ol class="list-group list-group-numbered">
                      @if(Model.Orders != null){
                          @foreach (var item in Model.Orders)
                             {
                                 <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a target="_blank" href="/product/index/@item.ProductPricing.ProductId">@item.ProductPricing.Product.Name</a>
                                <p>Price :@item.ProductPricing.Price$</p>
                                <div class="alert alert-info" role="alert">
                                  @item.OrderAction
                                </div>
                              </li>
                             }
                      }else{
                          <p>Not Have Order</p>
                      }
                    </ol>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="tab3"
                  role="tabpanel"
                  aria-labelledby="tab3"
                >
                  
                      @if(Model.Comments != null){
                       <ol class="list-group list-group-numbered">
                          @foreach (var item in Model.Comments)
                         {
                            if(item.Product.DeletedTime == null){
                                <li class="list-group-item">
                              <p>
                               <a href="/product/index/@item.Product.Id">@item.Product.Name</a>
                              </p>
                              @if(item.Confirmed == false){
                                  <div class="alert alert-danger" role="alert">
                                    @item.Comment
                                  </div>
                                  <span class="text-danger">Not Confirmed</span>
                              }else{
                                  <div class="alert alert-success" role="alert">
                                    @item.Comment
                                  </div>
                                  <span class="text-success">Confirmed</span>
                              }
                            </li>
                            }
                        }  
                        </ol>
                      }else{
                          <p>No Have Comment</p>
                      }
                    
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

