@model ProductIndexViewModel
@{
    ViewData["Title"] = "Index";
}


    <section class="pt-5 mt-5">
      <div class="container">
        <div class="heading-section">
          <h2>@Model.Product.Name</h2>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="slider" class="owl-carousel product-slider">
                    @{
                        var MainPhoto = Model.ProductImages.FirstOrDefault(p => p.IsMain == true);
                    }

                    @if(MainPhoto != null)
                    {
                        <div class="item">
                            <img
                              src="~/uploads/products/images/@Model.ProductImages.FirstOrDefault(p=>p.IsMain == true).ImagePath" />
                        </div>
                    }

                    @foreach (var item in Model.ProductImages.Where(p=>p.IsMain == false))
                    {
                            <div class="item">
                            <img
                              src="~/uploads/products/images/@item.ImagePath" />
                          </div>
                    }
            </div>
            <div id="thumb" class="owl-carousel product-thumb">
                    @if(MainPhoto != null)
                    {
                        <div class="item">
                            <img
                              src="~/uploads/products/images/@Model.ProductImages.FirstOrDefault(p=>p.IsMain == true).ImagePath" />
                        </div>
                    }

                    @foreach (var item in Model.ProductImages.Where(p=>p.IsMain == false))
                    {
                            <div class="item">
                            <img
                              src="~/uploads/products/images/@item.ImagePath" />
                          </div>
                    }
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-dtl">
              <div class="product-info">
                <div class="product-name">@Model.Product.Brand.Name</div>
                @*<div class="reviews-counter">
                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" checked />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" checked />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" checked />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <span>3 Reviews</span>
                </div>*@
                <div class="product-price-discount"><span>$@Model.ProductPricings.FirstOrDefault().Price</span></div>
                <div class="product-price-discount"><span>Seller: <p>@Model.SellerName</p></span></div>
              </div>
              <p>
                  @Model.Product.ShortDescription
              </p>
              <form asp-action="AddToCard" method="post" >
              <div class="row">
                <div class="col-md-6">
                  <label for="color">Color</label>
                  <select id="color" name="colorId" class="form-control" >
                    @foreach (var item in Model.ProductPricings)
                   {
                       <option  value=@item.ColorId>@item.Color.Name</option>
                   }
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="size">Size</label>
                  <select id="size" name="sizeId" class="form-control">
                    @foreach (var item in Model.ProductPricings)
                   {
                       <option value=@item.SizeId>@item.Size.Name</option>
                   }
                  </select>
                </div>
              </div>
              <div class="product-count">
                <label for="size">Quantity</label>
                
                  <div class="qtyminus">-</div>
                  <input type="text" name="count" value="1"  class="qty">
                  <div class="qtyplus">+</div>
                
                <button type="submit" class="round-black-btn">Add to Cart</button>
              </div>
              <input value="@Model.Product.Id" name="productId" type="hidden">
              </form>
            </div>
          </div>
        </div>
        <div class="product-info-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                aria-selected="false">Reviews (@Model.Product.Comments.Count)</a>
                
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              @Model.Product.Description
               <h3 >Specifications:</h3>
              @foreach (var item in Model.Specifications)
                          {
                            var t = Model.SpecificationProductItems.Where(s => s.SpecificationId == item.Id).FirstOrDefault();
                            

                            if(t!=null){
                                <label>@item.Name</label>
                                <h3>@t.Value</h3>
                            }
                          }

            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
              <div class="review-heading">REVIEWS</div>
                    @if(Model.Product.Comments.Count != 0)
                    {
                        @foreach (var item in Model.Product.Comments)
                       {
                           
                           <div class="alert alert-light" role="alert">
                               <p class="mb-20">@Model.Users.FirstOrDefault(P=>P.Id ==item.CreatedByUserId).Name @Model.Users.FirstOrDefault(P=>P.Id ==item.CreatedByUserId).Surname</p> 
                              <p class="mb-20">@item.Comment</p>
                            </div>
                       }
                    }
                    else
                    {
                        <p class="mb-20">There are no reviews yet.</p>
                    }
                    <form method="post" asp-action="Index" asp-route-id="@Model.Product.Id" class="review-form">
                        @*<div class="form-group">
                          <label>Your rating</label>
                          <div class="reviews-counter">
                            <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                            </div>
                          </div>
                        </div>*@
                        <div class="form-group">
                          <label>Your message</label>
                          <textarea class="form-control"  name="comment" rows="10"></textarea>
                        </div>
                        <button class="round-black-btn">Submit Review</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </section>
  
